body { 
	padding: 0; 
	margin: 0; 
	font: 0.7em Tahoma, sans-serif; 
	line-height: 1.5em;
	background: #fff; 
	color: #454545; 
}

a {	color: #E0691A;	background: inherit;}
a:hover { color: #6C757A; background: inherit; }

h1 { font: normal 2.1em Arial, Sans-Serif; letter-spacing: -1px; padding: 7px 0 0 8px; margin: 0; }
.dark  {
	color: #967A5A;
	background: inherit;
	font-weight: bold;
	font-size: 30px;
}
h1 a, h2 a { text-decoration: none; }
h1 a:hover, h2 a:hover {
	color: #FF6600;
	background: inherit;
}
h2 { margin: 0; padding: 0; font: bold 1.7em Arial, Sans-Serif; letter-spacing: -1px; }
h2 { font-size: 1.5em; margin-bottom: 5px; color: #000; background: inherit; }

p {	margin: 0 0 5px 0; }

ul { margin: 0; padding : 0; list-style : none; }

form { 	margin: 0; }

input.search[query] { 
	width: 292px; 
	border: 1;
	background: #FFF url(../images/input.gif) no-repeat;
	padding: 4px; 
	color: #E0691A;
	font-weight: bold;
}

input.submit {
	background: #E0691A url(../images/submit.gif) no-repeat;
	border: 0;
	padding: 4px 0;
	width: 65px;
	margin: 0 15px 1px 0;
	color: #FFF;
	font: bold 1em Arial, Sans-Serif;
}

input.login { 
	width: 150px;
	border: none; 
	
	padding: 4px; 
}

/* layout
   ------ */

.content { 
	margin: 0 auto;
	width: 890px;
	padding: 10px; 
}

.header { 
	height: 55px;
	background: #eee;
	color: #808080;
	margin: 3px 0;
	padding: 10px 0 0 0;
	border-bottom: 1px solid #ccc;
}

.top_info {
	float: right;
	width: 650px;
	padding: 5px 0 4px 0;
	border-bottom: 1px solid #eee;
	background: #eee;
	color: #808080;
}

	.top_info_left {
		width: 300px;
		float: left;
	}

	.top_info_right {
		float: right;
		width: 330px;
		padding: 0 0 0 35px;
		border-left: 1px solid #eee;
	}

.browse_category  {
	font-size: 0.9em;
	width: 190px;
	color: #FFF;
	background: inherit;
}

.bar { 
	clear: both;
	font-size: 1.1em;
	height: 30px; 
	color: #FFF; 
	background: #5A8096;
}

	.bar li { 
		margin: 0; 
		padding: 7px 12px 5px 12px;
		color: #FFEADC;
		background: #5A8096;
		float: left; 
	}
	
	.bar li.active { 
		background: #87C0E2 no-repeat center top; 
		color: 5A8096;
		font-weight: bold; 
		padding: 7px 10px 6px 10px;
	}
	
	.bar li a { 
		font-weight: bold;
		color: #FFF; 
		background: inherit;
		text-decoration: none;
	} 
	
	.bar li a:hover {
	color: #E3C888;




	} 

.search_field { 
	background: no-repeat right; 
	color: #333333;
	clear: both;
	font-weight: bold;
	padding: 7px 25px 10px 10px;
	margin: 5px 0;
}

.grey {
	color: #FF9933;
	background: inherit;
	font-weight: normal;
}

.search_form { float: left; }

.subheader {
	margin: 0px 0 10px 0;
	border-bottom: 1px solid #eee;
	padding: 5px 0 5px 0;
	background: #A4A4A4;
	color: #fff;
}

/* left side
   --------- */

.left {
	float: left;
	width: 65%;
	margin: 0 0 10px 0;
}

.left h3 {
	clear: both;
	background: #6698FF url(../images/corner.gif) no-repeat right top;
	color: #FFF;
	padding: 7px 0 7px 5px;
	font: 1.2em Tahoma, Arial, Sans-Serif;
	margin: 0 0 0px 0;
}
	.left_side {
	float: left;
	width: 180px;
	margin: 10px 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;

	}
		
	.left_side a, .right_side a { color: #414141; background: #FFF; }
		
	.right_side {
	float: none;
	background: #FFFFFF;
	color: #414141;
	font-size: 10px;
	font-style: normal;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 10px;




	}
		
	.left_box { margin: 0 0 0px; color: #000; background: #FFF; padding: 2px 0 3px; }
	
		
/* right side
   ---------- */
		
.right {
	float: right;
	width: 34.6%;
	margin: 0 0 10px 0;
}

.right h3 {
	background: #6698FF url(../images/corner.gif) no-repeat right top;;
	color: #FFF;
	padding: 7px 0 7px 5px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 3px 0;
}

	.right_articles {
		background: #f5f5f5;
		color: #414141;
		padding: 8px;	
		margin: 0 0 3px;
	}
	
.image {
	float: left;
	margin: 0 9px 3px 0;
}

/* footer
   ------ */

.footer { 
	clear: both;
	text-align: center;
	padding: 2px 0 1px;
	margin: 0;
	border-top: 1px solid #ccc;
	line-height: 1.8em;
}

  .footer_right {
  	float: right;
  	width: 34.6%;
  	margin: 0 0 10px 0;
  }

  .footer_left {
  	float: left;
  	width: 34.6%;
  	margin: 0 0 10px 0;
  }


.footer a { color: #FF6633; background: #fff; }

/* The container for the twitter search results
   Set the size, position, and overflow here     */
#twitter_search_results {
	margin: auto;
	width: 40em;
	height: 30em;
	overflow-y: scroll;
}

/* The "Loading Tweets..." message */
#twitter_search_results .loading {
	color: #888;
}

/* The tweets are put into an OL because
   they come back ordered by date         */
#twitter_search_results ol#twitter_results {
	list-style: none;
}

/* Each tweet is a LI inside the OL */
#twitter_search_results li.result {
	border-bottom: 1px dashed #ccc;
	padding: 0.75em 15px;
	
	overflow: hidden; /* for the floated avatar */
}

/* Tweets are tagged with 'even' or 'odd'
   so you can do striping                  */
#twitter_search_results li.result.odd {
	background-color: #f8fcfd;
}

/* Each result has an avatar, message (text), and info */
#twitter_search_results li.result .avatar {
	float:left;
	height:48px;
	width:48px;
	overflow:hidden;
}

#twitter_search_results li.result .text {
	margin-left: 58px;
}

#twitter_search_results li.result .info {
	margin-left: 58px;
	color: #888;
	font-size: 0.75em;
	line-height: 1.5em;
}



