<p>
  <b>Page:</b>
  <%=h @daily_timeline.page %>
</p>

<p>
  <b>Dates:</b>
  <%=h @daily_timeline.dates %>
</p>

<p>
  <b>Pageviews:</b>
  <%=h @daily_timeline.pageviews %>
</p>

<p>
  <b>Total pageviews:</b>
  <%=h @daily_timeline.total_pageviews %>
</p>

