<h1>Listing weekly_trends</h1>

<table>
  <tr>
    <th>Page</th>
    <th>Trend</th>
    <th>Error</th>
  </tr>

<% @weekly_trends.each do |weekly_trend| %>
  <tr>
    <td><%=h weekly_trend.page %></td>
    <td><%=h weekly_trend.trend %></td>
    <td><%=h weekly_trend.error %></td>
    <td><%= link_to 'Show', weekly_trend %></td>
  </tr>
<% end %>
</table>

<br />

