

document.write("<ul>");
document.write("<li>Hello world</li>");
document.write("<li>Hello world2</li>");
document.write("<li>Hello world3</li>");

document.write("</ul>");


document.write('<p>Daily Pageviews for: <span><%= link_to image_tag(@page.sparkline('999999', 30).to_url) , @page %></span></p>');
document.write('<p><%= link_to truncate(@page.title,35), @page, :class => "articlelink"  %></p>');
document.write("<%= inline_annotated_timeline @page.timeline, 620, 280, 'div_id_to_create', 
    {:zoomEndTime => @page.sorted_dates[-1], :zoomStartTime  => @page.sorted_dates[-30] } %>");

document.write("Powered by <img src='quarkruby' alt='quarkruby'/>");




