(function(){
document.write('<div class="customCSSclass" id="trendingtopics-widget">');
document.write('<h3>Daily Pageviews for <span><%= truncate(@page.title, 35) %></span></h3>  
<%= render :partial => "pages/timeline"  %>') 
document.write('</div>') })()
