<% cache ({:query => params["search"]["query"]}) do %>
  <ul>
  	<% for page in @pages %>
  	<li><%= link_to h(page.title), :controller=>"pages", :action=>"show", :id=>page %></li>
    	<% end %>
  </ul>
<% end %>