<h3>Twitter Reaction:</h3>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: '<%= @page.title.split("(")[0].strip %>',
          interval: 6000,
          subject: '&quot;<%= @page.title %>&quot; on Twitter',
          width: 300,
          height: 250,
          theme: {
            shell: {
              background: '#BBBBBB',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#444444',
              links: '#1985b5'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: true,
            behavior: 'all'
          }
        }).render().start();
        </script>