
<div id="rising-articles">
  <h3>Rising Trends for <%= Time.now.strftime("%A, %B %d, %Y") %></h3>

  <table id="rising">
  <% @daily_trends.each_with_index do |daily_trend, index| %>
    <tr>
      <td><%=h index + 1 %></td>
      <td><%= link_to daily_trend.page.title, daily_trend.page %></td>
    </tr>
  <% end %>
  </table>

  <br />
</div>

        
