<h1>Listing daily_trends</h1>

<table>
  <tr>
    <th>Page</th>
    <th>Trend</th>
    <th>Error</th>
  </tr>

<% @daily_trends.each do |daily_trend| %>
  <tr>
    <td><%=h daily_trend.page %></td>
    <td><%=h daily_trend.trend %></td>
    <td><%=h daily_trend.error %></td>
    <td><%= link_to 'Show', daily_trend %></td>
  </tr>
<% end %>
</table>

<br />
