<% content_for :title, "About TrendingTopics.org" %>
<div id="first-section" class="section">
  <h3>About TrendingTopics.org</h3>
  <p>
  This site was built by <a href="http://www.datawrangling.com">Data Wrangling</a> as a demonstration of how to use Hadoop to power a simple data driven website.  We crunch raw log data and generate trend statistics by periodically launching clusters running the <a href="http://cloudera.com/">Cloudera Hadoop Distribution</a> on Amazon EC2.  Our initial seed data includes the content of wikipedia and hourly wikipedia article traffic logs from the wikipedia squid proxy collected <a href="http://dammit.lt/">Domas Mituzas</a>.
  </p>
  <p>
  Get the full source code for the site and a snapshot of the raw data for trendingtopics.org:
  </p>
    <ul>
    <li><a href="http://github.com/datawrangling/trendingtopics/tree/master">trendingtopics on Github</a></li> 
    <li>
    <a href="http://developer.amazonwebservices.com/connect/entry.jspa?externalID=2596">Wikipedia Traffic Statistics on Amazon Public Datasets</a>
    </li>   
    </ul>
</div>

