<div id="first-section" class="section">
<div class="clear">
</div> <!-- .clear -->
</div>
<div id="second-section" class="section">
<% content_for :title, "About TrendingTopics.org" %>
    <h3>About TrendingTopics.org</h3>
    <p>
    Trending Topics is a trend search engine that finds emerging news and topics on the web
    </p>
    <p>
    <ul>
    <li>Find “Rising” topics trending in the last 24 hours</li>  
    <li>Explore suggested topics and search results ranked by trend</li>      
    <li>Check out the most significant trends over the last 30 days</li>
    <li>Browse daily pageview charts for over 2.5 Million Wikipedia articles</li>
    </ul>
    </p>
    <p>
    This site was built by <a href="http://www.datawrangling.com">Data Wrangling</a> to demonstrate how Hadoop can power a basic data driven website. The trend statistics and time series data that run the site are updated periodically by launching a temporary EC2 cluster running the <a href="http://cloudera.com/">Cloudera Hadoop Distribution</a>.  Our initial seed data includes the content of Wikipedia and hourly article traffic logs from the wikipedia squid proxy collected by <a href="http://dammit.lt/">Domas Mituzas</a>.  We made the first 7 months of this data available as an <a href="http://aws.amazon.com/publicdatasets/">Amazon Public Dataset</a>. <BR>   
    </p>    
    <p>
    Get the full source code and a snapshot of the raw data for trendingtopics.org:     
    </p>
      <ul>
      <li><a href="http://github.com/datawrangling/trendingtopics/tree/master">Trendingtopics on Github</a></li> 
      <li>
      <a href="http://developer.amazonwebservices.com/connect/entry.jspa?externalID=2596">1 TB of Wikipedia Traffic Statistics</a> on Amazon Public Datasets</a>
      </li>   
      </ul>    
      <br/>
      <p style="text-align:center;">
      <a  href="http://wikimediafoundation.org/wiki/Donate/en"><img border="0" alt="Wikipedia Affiliate Button" src="http://upload.wikimedia.org/wikipedia/foundation/1/1a/2008_fundraiser_banner_button-en.png" /></a>
      </p>
      <br/>
