<h2>Contact Us</h2>

<p>
Trending Topics was built by <a href="http://www.datawrangling.com">Data Wrangling</a>.  Stay tuned for more info...
</p>
<p>
<a href="http://twitter.com/peteskomoroch" id="twitter-link"><img title="pete skomoroch on Twitter" alt="follow datawrangling on twitter" src="http://datawrangling.s3.amazonaws.com/twitter-badge.png"/></a>
</p>
<p>