<% content_for :title, "Contact Us" %>
<div id="first-section" class="section">
<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var z7x4m1 = new WufooForm();
z7x4m1.initialize({
'userName':'datawrangling', 
'formHash':'z7x4m1', 
'autoResize':true,
'height':'630'});
z7x4m1.display();
</script>
</div>
